# Python
venv/
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Build & Dist
build/
dist/

# Executables
*.exe
*.dll
*.so

# Logs & Config
*.log
config.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
